* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  margin-top: 10px;
}

/* .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  justify-content: center;
} */

.Boxstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 550px;
  background-color: rgb(255, 255, 255);
  border: 1px dotted black;
}

.Post-Section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  justify-content: center;
}

.InnerBoxstyle {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 300px;
}

.filter-grid {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* position: fixed; */
  /* bottom: 0px; */
  /* left: 400px; */
  height: 250px;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  border: 1px solid black;
}

.textArea {
  padding: 8px;
  margin: 8px;
  border: none;
  outline: none;
  position: absolute;
  top: -8px;
  left: 392px;
  width: 300px;
  height: 356px;
  padding-top: 36px;
  padding-left: 30px;
}

.filter-item {
  text-align: center;
  cursor: pointer;
}

/*   
  const shareBtn = {
    border: "none",
    cursor: "pointer",
    background: "dodgerblue",
    color: "white",
    padding: "3px",
    width: "50px",
    position: "fixed",
    left: "651px",
  }; */
